body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 .wb{
  background-color: grey;
  height: 50em;
  padding: 10em; 
  margin: 0;
  padding: 0;
}
.wh{
  padding-left: 10em;
  
}
.wp{
  text-align: center;
  padding: 5em;
  padding-top: 1em;
}
.wbtn1{
  position: absolute; /* Position the button absolutely */
  bottom: 55%; /* Distance from the bottom of the container */
  left: 45%; /* Center horizontally */
  transform: translateX(-10%); /* Adjust for centering */
  /* order: var(-50%); */
}
.lb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #333; /* Dark background color */
  color: #fff; /* White text color */
  font-family: sans-serif;
}

.lh { 
  padding-left: 0.5em;
}
.lform{
  padding-left: 2em;
  padding-bottom: 20em;
}
.lb1 {
  display: flex;
  flex-direction: column;
}

 
.tb{
  background-color: rgb(155, 148, 148);
  height: 100em;
}
.th{
  padding-left: 40%
}
.tform{
  padding-left: 25em;
}
.th1{
  padding-left: 25em;
}
.tp{
  padding-left: 25em;
}
.tL{
  padding-left: 25em;
}